/* src/components/Header.css */
.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #5b0214;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.header2 .logo2{
    max-width: 100%;  /* El logo no excederá el 100% del contenedor */
    height: auto;     /* Mantiene la proporción original */
    width: 50px;     /* Tamaño estándar del logo */
    margin-bottom: 20px;
}
.header2 .company-name{
    text-align: center;
    color: aliceblue;
    
}
.header2 h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}
