.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #791111;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header1 img {
    height: 50px;
}
.header1 .company-name{
    color: aliceblue;
}

.header1 h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}
